.extra_row{
	opacity: 0;
	transition: all 0.25s;
	margin-bottom: 3px;
}
table.widefat tr:hover .extra_row{
	display: block;
	opacity: 1;
}

.wkg-wrap{
	width: 98%;
	min-width: 640px;
}

.wkg-wrap label{
	font-weight: bold;
}
table.wkg-kml-list-table tr{
	transition: all 0.25s;
}
table.wkg-kml-list-table tr.row-selected{
	background: rgba(82, 168, 236, 0.1);
}
table.wkg-kml-list-table td{
	cursor: pointer;
}

#wkg_slug_div{
	margin-bottom: 8px;
}
div#wkg-icons-div{
	float: left;
	width: 43%;
}
ul#wkg-icon-list{
	border: 1px solid #eee;
	padding: 8px;
	position: relative;
	min-height: 200px;
	overflow-y: auto;
	height: 200px;
	transition: all 0.15s;
}

ul#wkg-icon-list li{
	display: inline-block;
	text-align: center;
}
ul#wkg-icon-list li img{
	display: block;
	padding: 2px 3px;
	transition: all 0.25s;
	border: 1px solid #fff;
}
ul#wkg-icon-list li img:hover{
	background: #e9e9e9;
	box-shadow: 0 1px 1px #efefef;
	border-color: #999;
}
ul#wkg-icon-list li input[type="radio"]:checked + img{
	background: rgba(82, 168, 236, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	border-color: rgba(82, 168, 236, 0.7);
}

#wkg-loc-list{
	width:55%;
	float: right;
}

ul#wkg-kml-list li{
	margin-bottom: 8px;
}

.wkg-kml-list-handle{
	width: 10px;
	display: block;
	background: url(../img/grippy_large.png) repeat;
	height: 58px;
	float: left;
	margin-right: 2px;
	cursor: move;
}

#wkg-kml-list table{ transition: all 0.25s; }
#wkg-kml-list input[type="radio"]:checked + table{
	background: none repeat scroll 0 0 rgba(82, 168, 236, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(82, 168, 236, 0.6);
}

.wkg-kml-list-table, .wkg-marker-list-table{
	border: 1px solid #ccc;
}
.wkg-marker-list-table img{ padding: 1px 2px; }
.wkg-marker-list-table input{ font-weight: normal; }

a.wkg-remove-kml-row{
	text-decoration: none;
	color: #ccc;
	transition: all 0.25s;
	font-size: 18px;
}
a.wkg-remove-kml-row:hover{
	text-decoration: none;
	color: #333;
}

.wkg-setting-row{
	margin: 12px 0 6px;
}
.wkg-setting-row label{
	width: 128px;
	text-align: right;
	display: inline-block;
	margin-right: 8px;
}
.wkg-setting-row input[type="checkbox"]{
	margin-left: 5px;
}
.wkg-setting-row .wkg-row-description{
	display: block;
	color: #666;
	margin: 3px 0 0 138px;
}

#wkg-gmap-container{
	border-top: 1px solid #ddd;
	width: 100%;
	height: 0;
	overflow-y: hidden;

	margin-bottom: 0;
	transition: all 0.25s;
}
#wkg-gmap-container.expand{
	min-height: 280px;
	box-shadow: -3px 5px 6px #aaa;
}
#wkg-gmap-canvas{
	min-height: 280px;
}
#wkg-gmap-container + .wkg-gmap-container-handle{
	width: 26px;
	height: 23px;
	margin-left: 48%;
	background: url(../img/handle-icon-actions.png) no-repeat;
	cursor: pointer;
	box-shadow: -2px 3px 3px #ccc;

	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;

	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.wkg-italic{
	font-style: italic;
}
.wkg-shortcode-wrap{
	background: #fff;
	display: inline-block;
	padding: 1px 3px;
}

.wkg-admin-footer{
	padding: 8px;
	min-width: 624px;
	margin-top: -8px;
	background: #e9e9e9;
}

.wkg-admin-footer .wkg-donate-link{
	float: left;
}
.wkg-admin-footer .wkg-brought-to-you{
	float: right;
}

input[id^="wkg_kml_"].error_field{
	border-color: #B94A48;
}

hr{
	color: #ccc;
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 8px;
}

@media only screen and ( max-width: 599px ) {
	#wkg-gmap-container, #wkg-gmap-container + .wkg-gmap-container-handle, .wkg-kml-list-handle{
		display: none;
	}
}