span.wkg-kml-link{
	background: url(../img/kml_feed_small.png) no-repeat;
	display: inline-block;
	height: 16px;
	padding-left: 18px;
	line-height: 16px;
	vertical-align: middle;
}
span.wkg-no-icon{
	background-image: none;
	padding-left: 0;
}

span.wkg-kml-link a, span.wkg-no-icon a{
	text-decoration: none;
	font-size: 14px;
}

span.wkg-kml-not-exists{
	color: #aaa;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}

div.wkg-kml-list-container span.wkg-kml-link{
	float: right;
	font-weight: normal;
	margin-top: 7px;
}

div.wkg-kml-list-container h3{
	margin: 0;
	padding: 4px 12px;
	background: #e9e9e9;
	height: 30px;
	line-height: 30px;
}

div.wkg-kml-list-container ul.wkg-kml-list, #sidebar div.wkg-kml-list-container ul.wkg-kml-list, #sidebar div.wkg-kml-list-container ul.wkg-kml-list{
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
div.wkg-kml-list-container ul.wkg-kml-list li:before, #sidebar div.wkg-kml-list-container ul.wkg-kml-list li:before{
	content: "";
}
div.wkg-kml-list-container ul.wkg-kml-list li, #sidebar div.wkg-kml-list-container ul.wkg-kml-list li{
	margin: 0;
	border: 1px solid #eee;
	padding: 3px 12px;
}

div.wkg-kml-list-container ul.wkg-kml-list li img{
	/*float: left;*/
	margin-right: 8px;
}

div.wkg-kml-list-container ul.wkg-kml-list li h4{
	height: 37px;
	line-height: 37px;
	vertical-align: top;
	margin: 0;
	display: inline-block;
}
div.wkg-kml-list-container span.wkg-kml-powered-by{
	text-align: right;
	display: block;
	background: #e9e9e9;
	padding-right: 8px;
}